{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nova Ideeenbus</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<v-app id="app">
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs6>
                <id-canvas></id-canvas>
            </v-flex>
            <v-flex xs6>
                <v-layout row wrap>
                    <v-flex xs12>
                        <id-info></id-info>
                    </v-flex>
                    <v-flex xs12>
                        <id-form></id-form>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</v-app>

</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="{% static "channels/js/websocketbridge.js" %}"></script>
<script src="{% static "main.js" %}"></script>
<script src="{% static "md-color-picker.js" %}"></script>
</html>