/* Some CSS styling */
#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sketchpadapp.d-flex > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;}

#cparent {
}

#sketchpad {
    /*position: relative;*/
    border: 2px solid #888;
    border-radius: 4px;
}

#clearbutton {
    font-size: 15px;
    padding: 10px;
    -webkit-appearance: none;
    background: #eee;
    border: 1px solid #888;
    width: 20px;
}